.App {
  text-align: center;
}

.iconButton{
  transition: all 0.2s !important;
}

.iconButton:hover{
  background-color:bisque;
box-shadow:0px 7px 7px rgba(0,0,0,0.4)
}
.toDoCard:hover{
  padding-bottom:20px;
  padding-top: 20px;
  box-shadow:0px 7px 7px rgba(0,0,0,0.4)
}

/* Custome Fonts */
@font-face{
  font-family:A;
  src:url("/public/fonts/Alexandria-Black.ttf")
}
/* End Custome Fonts */